body {
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-item-icon {
  text-align: center;
}

.ant-menu-item:first-child {
  margin-top: 0 !important;
}
.ant-menu-item {
  display: flex;
  align-items: center;
}
.ant-menu-item i {
  display: flex;
  align-items: center;
  text-align: center;
  width: 1.25em !important;
  font-size: 1em !important;
}

.ant-menu-submenu i {
  text-align: center;
  width: 1.25em !important;
  height: 1.25em !important;
  font-size: 1em !important;
}

.ant-menu-item .collapsed {
  margin-left: 7.5px !important;
}
.ant-menu-submenu .collapsed {
  margin-left: 7.5px !important;
}

.ant-modal-title {
  font-size: 1.25em !important;
}
